# React Frontend (prefix REACT_APP_ wajib)
REACT_APP_MQTT_BROKER=ws://localhost:9001
REACT_APP_MQTT_TOPIC_PREFIX=aquaponics
REACT_APP_API_URL=http://localhost:3001

# Backend
BACKEND_PORT=3001
MQTT_BROKER=mqtt://localhost:1883
DB_PATH=./aquaponics.db
